<div id="content">
</div>

<script>
  $(document).ready(function(){
    AppResidentApp.admin = <%=current_user ? current_user.admin : false %>;
    AppResidentApp.user = <%=current_user.to_json(:only => [:id, :name, :email]).html_safe%>
    AppResidentApp.users = <%=@user_json.html_safe%>
    AppResidentApp.initialize();
  });
</script>
