<% action = session_url %>
<% method = "post" %>
<% message = "Sign In" %>

<%= render "shared/form", 
    :user => @user, 
    :action => action, 
    :method => method, 
    :message => message %>

<p>No account? <a href="<%=new_user_url%>">Sign Up Here</a></p>
