<%=user_chore.escape('date')%> - <%=user_chore.choreName()%>
<br>
<p>
  <%if(user_chore.get('assignee') != "none"){%>
    Assigned: <%= user_chore.escape('assignee') %>
  <%}else{%>
    <a class="btn btn-primary assign">Assign</a>
  <%}%>
</p>
